<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEM Invoice System</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">

        <h1>MEM Invoice System</h1>

        <p>Choose an option</p>

        <a href="/quotation">
            <button>Create Quotation</button>
        </a>

        <a href="/invoice">
            <button>Create Invoice</button>
        </a>

        <a href="/history">
            <button>History</button>
        </a>

    </div>

</body>
</html>